
body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

#img-profile{
  border-radius: 180px;
}

section {
  padding: 6rem 0;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}


#mainNav {
 
  padding-bottom: 10px;
  font-weight: 700;
  font-family: 'Montserrat';
  background-color: rgb(104, 207, 142);

}

#buttonnav{
  background-color: #20c997;
}
#header1{
  background-color: #20c997;
}
#about{
  background-color: #20c997;
}

.btnEnviar{
  background-color: #20c997;
  color: white;
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  max-height: 20rem;
  margin-bottom: 15px;
}


.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #18BC9C;
}

a:focus, a:hover, a:active {
  color: #128f76;
}



.fa-linkedin-in, .fa-github, .fa-facebook-f{
  font-size: 200%;
}
